
.bg-dark{
    background-color:#343a40!important
    }


.header{
    background-image: url('harry_styles_1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    }
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#000000 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #ec4b8e;
 background:#ec4b8e;
 color:#000000;
}